[defaults]
inventory = inventories/local_vm/hosts.yml
remote_user = deploy
roles_path = roles
retry_files_enabled = False
host_key_checking = True
stdout_callback = default

[privilege_escalation]
become = True
become_method = sudo
become_user = root
